<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/multiple-select.css">
    <script src="../../static/js/multiple-select.js"></script>



</head>
<body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="../../index/">Home</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				</div>

			</nav>
			<div class="page-header" align="center">
				<h1>
					Recommend list for {{ title.courseid }} <small>beta</small>
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

            <form method="post" role="form" class="form-inline" align="center">
                <label for="score_select">Score</label>
                <select id="score_select" class="form-control selectpicker" data-live-search="true" name="score">
                    {% for a in ff.score %}
                        <p> {{ a }} </p>
                    {% endfor %}
                </select>

                <label for="location_select">Location</label>
                <select id="location_select" class="form-control selectpicker" multiple data-live-search="false" name="location">
                    {% for a in ff.location %}
                        <p> {{ a }} </p>
                    {% endfor %}
                </select>
                <script>
                        $(function () {
                        $('#location_select').multipleSelect();
                        });
                    </script>

                <label for="language_select">Language</label>
                <select id="language_select" class="form-control selectpicker" multiple="multiple" data-live-search="true" name="language">
                    {% for a in ff.language %}
                        <p> {{ a }} </p>
                    {% endfor %}
                </select>
                <script>
                        $(function () {
                        $('#language_select').multipleSelect();
                        });
                    </script>

                <label for="tc_select">Trained Before</label>
                <select id="tc_select" class="form-control selectpicker" data-live-search="true" name="trained">
                    {% for a in ff.trained %}
                        <p> {{ a }} </p>
                    {% endfor %}
                </select>

                <label for="status_select">Score</label>
                <select id="status_select" class="form-control selectpicker" data-live-search="true" name="status">
                    {% for a in ff.status %}
                        <p> {{ a }} </p>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-large">Filter</button>


			</form>

			<table class="table table-hover table-striped table-bordered" id="table">
				<thead >
					<tr bgcolor="#4682b4">
						<th>
							Name
						</th>
						<th>
                            Location
						</th>
						<th>
							Languge
						</th>
						<th>
							Score
						</th>
                        <th>
							Trained Course
						</th>
                        <th>
							Status
						</th>
                        <th>

                        </th>
					</tr>
				</thead>
				<tbody>
                {% if not tlist %}
                <h4 align="center">Sorry, there's no matching trainers!</h4>
                {% endif %}
                {% for tr in tlist %}
					<tr bgcolor='{% cycle "#f8f8ff" "#e6e6fa" %}'>
						<td><a href='http://127.0.0.1:8000/tpage/{{ tr.id }}'>{{ tr.ln }}.{{ tr.fn }}</a></td>
                        <td>{{ tr.location }} </td>
                        <td>{{ tr.language }}</td>
                        <td>{{ tr.score }}</td>
                        <td>
                            {% for cs in tr.trained_course.all %}
                            {% if not forloop.first %}
                                /
                            {% endif %}
                            {{ cs.courseid }}
                            {% endfor %}
                        </td>
                        <td>{{ tr.status }}</td>
                        <td>
                            <button class="btn btn-primary btn-lg" type="button"  onclick="editInfo();">
                                Not Fit
                            </button>
                            <!-- 模态框（Modal） -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Feed Back
                                            </h4>
                                        </div>
                                        <div name="test" id="test" class="modal-body">
                                            {{ tr.ln }} {{ tr.fn }} not fit for
                                            {{ title.courseid }}
                                        </div>
                                        <div class="modal-body">
                                            Name:<input type="text" name="stuno" id="stuno" />
                                            Cousre:<input type="text" name="cn" id="cn"/>

                                        </div>
                                        <div class="modal-body">
                                            Reason:<input type="text" name="reas" id="reas" />

                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary"  onclick="update();">
                                                Submit
                                            </button>

                                            <script>
                                                function editInfo(obj) {
                                                    var id = $(obj).attr("id");
                                                    //获取表格中的一行数据
                                                    var stuno = document.getElementById("table").rows[2].cells[0].innerText;

                                                    //向模态框中传值
                                                    $('#stuno').val(stuno);

                                                    $('#myModal').modal('show');
                                                }

                                            </script>



                                           <script>
                                               function update(obj) {

                                                   var name = document.getElementById("table").rows[2].cells[0].innerText;
                                                //获取模态框数据
                                                var id = $(obj).attr("id");
                                                var stuno = $('#stuno').val();
                                                var cn = $('#cn').val();
                                                var reas = $('#reas').val();
                                                $.ajax({
                                                    type: "post",
                                                    url: "../../update/",
                                                    data: "stuno=" + stuno+"&cn="+cn+"&reas="+reas,
                                                    dataType: 'html',
                                                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                                                    success: function(result) {
                                                        alert("Thanks for the feedback");
                                                        //location.reload();
                                                    }
                                                });
                                                $('#myModal').modal('hide');
                                                $("#myModal").on("hidden.bs.modal", function() {
                                                     $(this).removeData("bs.modal");
                                                                        });
                                            }
                                           </script>


                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>


                        </td>

					</tr>
                {% endfor %}
				</tbody>
			</table>
            {% if flist %}
                <h4 align="center">Beyound filter but still recommend!</h4>

                <table class="table table-hover table-striped table-bordered">
				<thead >
					<tr bgcolor="#4682b4">
						<th>
							Name
						</th>
						<th>
                            Location
						</th>
						<th>
							Languge
						</th>
						<th>
							Score
						</th>
                        <th>
							Trained Course
						</th>
                        <th>
							Status
						</th>
                        <th>

                        </th>
					</tr>
				</thead>
				<tbody>
                {% for tr in flist %}
					<tr bgcolor='{% cycle "#f8f8ff" "#e6e6fa" %}'>
						<td><a href='http://127.0.0.1:8000/tpage/{{ tr.id }}'>{{ tr.ln }}.{{ tr.fn }}</a></td>
                        <td>{{ tr.location }} </td>
                        <td>{{ tr.language }}</td>
                        <td>{{ tr.score }}</td>
                        <td>
                            {% for cs in tr.trained_course.all %}
                            {% if not forloop.first %}
                                /
                            {% endif %}
                            {{ cs.courseid }}
                            {% endfor %}
                        </td>
                        <td>{{ tr.status }}</td>
                        <td>

                        </td>
					</tr>
                {% endfor %}
				</tbody>
			    </table>
            {% endif %}

		</div>
	</div>
</div>




</body>
</html>