<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<em>
<h1 align="center">Here is the list for {{ title.courseid }}
</h1>
</em>
<a href="http://127.0.0.1:8000/index/">back</a>
<hr>
<form method ='post' align="center">
    {{ ff }}
    <input type="submit" value="Filter" />
</form>
<hr>
{% if not tlist %}
    <h4 align="center">Sorry, there's no matching trainers!</h4>
{% endif %}
{% for tr in tlist %}
    {% if forloop.first %}
    <table align="center">
        <tr bgcolor = '#cccccc'>
            <td width="100">Name</td>
            <td width="200">Location</td>
            <td width="200">Languge</td>
            <td width="50">Score</td>
            <td width="'250">Trianed Course</td>
            <td width="50">Status</td>
        </tr>
    {% endif %}
        <tr bgcolor='{% cycle "#ffccff" "ccffcc" %}'>
            <td><a href='http://127.0.0.1:8000/tpage/{{ tr.id }}'>{{ tr.ln }}.{{ tr.fn }}</a></td>
            <td>{{ tr.location }} </td>
            <td>{{ tr.language }}</td>
            <td>{{ tr.score }}</td>
            <td>
                {% for cs in tr.trained_course.all %}
                {% if not forloop.first %}
                    /
                {% endif %}
                    {{ cs.courseid }}
                {% endfor %}
                    </td>
            <td>{{ tr.status }}</td>
        </tr>
    {% if forloop.last %}
    </table>
    {% endif %}
    {% empty %}

{% endfor %}
<hr>
{% if flist %}
    <h4 align="center">Beyound filter but still recommend!</h4>
{% for tr in flist %}
    {% if forloop.first %}
    <table align="center">
        <tr bgcolor = '#cccccc'>
            <td width="100">Name</td>
            <td width="200">Location</td>
            <td width="200">Languge</td>
            <td width="50">Score</td>
            <td width="'250">Trianed Course</td>
            <td width="50">Status</td>
        </tr>
    {% endif %}
        <tr bgcolor='{% cycle "#ffccff" "ccffcc" %}'>
            <td><a href='http://127.0.0.1:8000/tpage/{{ tr.id }}'>{{ tr.ln }}.{{ tr.fn }}</a></td>
            <td>{{ tr.location }}</td>
            <td>{{ tr.language }}</td>
            <td>{{ tr.score }}</td>
            <td>
                {% for cs in tr.trained_course.all %}
                {% if forloop.first %}
                    {{ cs.courseid }}
                {% endif %}
                    /{{ cs.courseid }}
                {% endfor %}
                    </td>
            <td>{{ tr.status }}</td>
        </tr>
    {% if forloop.last %}
    </table>
    {% endif %}
    {% empty %}

{% endfor %}
{% endif %}

</form>
</body>
</html>